* {
    box-sizing: border-box;
    margin: 0;
    /* background-color: #0D2A3E; */
}
html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 25px;
    
}
.container.card {
    margin-top: 12.3rem;
    max-width: 1440px;
    border-radius: 24px;
    background-color: #000;
    box-shadow: 0px 16px 24px rgba(244, 197, 61, 0.16), 0px 0px 4px rgba(244, 197, 61, 0.16);    text-align: center;
    padding: 2.6rem;
    /* padding-bottom: 3.6rem; */
}
.title-main {
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 2.1rem;
}
.main-image svg {
    max-width:  auto;
    margin-bottom: 0;
    border-radius: 7px;
}

.subheading{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.card .text {
    font-size: 13px;
    letter-spacing: 0.26px;

}
footer {
    color: #b1b1b1;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.7rem;
}
footer .logo svg {
    width: 145px;
    padding-left: 11px;
}
footer .left-side {
    display: flex;
    align-items: center;
}
/* Medias */
@media screen and (max-width: 1024px){
    .container {max-width: 90%;}
@media screen and (max-width: 768px){
    html {font-size: 7px;}
    .container {
        max-width: 90%;}
    .container.card {margin-top: 6rem;}
    .card .text { font-size: 1.6rem;}
} 
@media screen and (max-width: 480px){
    html {font-size: 5.7px;}
    .container {max-width: 95%;}
    .title-main {font-size: 6.6vw;}
    /* .container.card {margin-top: 2rem;} */
    .subheading{font-size: 13px;}
    .card .text { font-size: 12px;}
    footer {flex-direction: column;}
} 
}